<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Policeman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<body>
<div class = "container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Registration</h2>
            <form action="save">
                <div class="form-group">
                    <label for="email">First Name:</label>
                    <textarea class="form-control" name="firstName" cols="40" rows="1"></textarea>
                </div>
                <div class="form-group">
                    <label for="email">Last Name:</label>
                    <textarea class="form-control" name="lastName" cols="40" rows="1"></textarea>
                </div>
                <div class="form-group">
                    <label for="email">Matricola:</label>
                    <textarea class="form-control" name="matricola" cols="40" rows="1"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="text" class="form-control" name="email" />
                </div>
                <div class="form-group">
                    <label for="">Password:</label>
                    <input type="password" class="form-control" name="password" />
                </div>
                <div class="form-group">
                    <label for="">Phone Number:</label>
                    <input type="number" class="form-control" name="phoneNumber" />
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>