<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Driver</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class = "container">
<div class="row">
    <div class="col-md-8 mx-auto">
        <h2>Registration</h2>
        <form action="save">
            <div class="form-group">
                <label for="email">First Name:</label>
                <textarea class="form-control" name="firstName" cols="40" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="email">Last Name:</label>
                <textarea class="form-control" name="lastName" cols="40" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="email">License Plate:</label>
                <textarea class="form-control" name="licensePlate" cols="40" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                <input type="text" class="form-control" name="email" />
            </div>
            <div class="form-group">
                <label for="">Password:</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <div class="form-group">
                <label for="">Phone Number:</label>
                <input type="number" class="form-control" name="phoneNumber" />
            </div>
            <div class="form-group">
                <label for="">Disability:</label>
                <input type="checkbox" class="form-control" name="disability" />
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
        </form>
    </div>
    <h3>
        <a href="/driver" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Driver</a>
    </h3>
</div>
</div>
</body>
</html>